<!-- templates/blockchain.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Blockchain Records</title>
</head>
<body>
  <h1>Blockchain Records</h1>
  <ul>
    {% for block in chain %}
      <li>
        <strong>Index:</strong> {{ block.index }}<br/>
        <strong>Timestamp:</strong> {{ block.timestamp }}<br/>
        <strong>Data:</strong> {{ block.data }}<br/>
        <strong>Previous Hash:</strong> {{ block.previous_hash }}<br/>
        <strong>Hash:</strong> {{ block.hash }}<br/>
      </li>
      <hr/>
    {% endfor %}
  </ul>
</body>
</html>
