<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
</head>
<body>
    <h2>Upload an Encrypted Excel File</h2>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        Select file: <input type="file" name="file" accept=".xlsx" required><br><br>
        <input type="submit" value="Upload">
    </form>
    <br>
    <a href="{{ url_for('uploads_log') }}">View Upload Logs</a> |
    <a href="{{ url_for('view_blockchain') }}">View Blockchain</a> |
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
